.contact {
    display: none;
}

@media screen and (min-width: 768px) {

.contact {
        display: flex;
        flex-direction: column;
        

        &__top {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--contact-color);
            font-weight: 500;
            font-size: 12px;
            line-height: 1.2;
            letter-spacing: 0.02em;

            &:not(:last-child) {
                margin-right: 46px;
            }
        }

        &__bottom {
            display: flex;
            color: var(--contact-color);
        }

        &__item {
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;

            &:hover svg,
            &:focus svg {
                color: var(--webstudio-color);
                fill: var(--webstudio-color);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: color, fill;
            }
        }

        &__icon {
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
            fill: var(--contact-color);

            &--envelope {
                width: 14px;
                height: 10px;
                margin-right: 8px;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: color, fill;
            }

            &--phone {
                width: 10px;
                height: 14px;
                margin-right: 8px;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: color, fill;
            }

            &:hover svg,
            &:focus svg {
                color: var(--webstudio-color);
                fill: var(--webstudio-color);
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-property: color, fill;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact {

        &__item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}


@media screen and (min-width: 1200px) {

    .contact {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: auto;

        &__top {
            justify-content: center;
        }

        &__item {
            align-items: center;
            margin-right: 30px;
        }

        &__icon {

            &--envelope {
                width: 16px;
                height: 12px;
                margin-right: 10px;
            }

            &--phone {
                height: 16px;
                margin-right: 10px;
            }
        }
    }
}

// .contact {
//  x   display: flex;
//  x   margin-left: auto;
    
//     &__top {
//         display: flex;
//  x       justify-content: center;
//         align-items: center;
//         color: var(--contact-color);

//         &:not(:last-child) {
//             margin-right: 46px;
//         }
//     }

//     &__bottom {
//         display: flex;
//         color: var(--contact-color);
//     }

//     &__item {
//   x      margin-right: 30px;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: color, fill;

//         &:hover svg,
//         &:focus svg {
//             color: var(--webstudio-color);
//             fill: var(--webstudio-color);
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//             }
//     }

//     &__icon {
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: color, fill;

//         &--envelope {
//     x        width: 16px;
//     x        height: 12px;
//     x        margin-right: 10px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &--phone {
//             width: 10px;
//      x       height: 16px;
//      x       margin-right: 10px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &:hover svg,
//         &:focus svg {
//             color: var(--webstudio-color);
//             fill: var(--webstudio-color);
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }
//     }
// }