.footer {
    background: var(--background-color);

    &__list {
    margin-right: 0;
    }

    &__contact {
    display: block;
    color: var(--contact-color);
    margin-bottom: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        &__list {
            margin-right: 70px;
        }

        &__contact {
            display: flex;
            margin-bottom: 9px;
        }
    }
}


// .footer {
//     background: var(--background-color);

//     &__list {
//         margin-right: 70px;
//     }

//     &__contact {
//         display: flex;
//         color: var(--contact-color);
//     }
// }