.customers {

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        margin: -15px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;
        border: 1px solid var(--social-media-color);
        border-radius: 4px;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
        margin-bottom: 30px;

        &:nth-child(n + 5) {
            margin-bottom: 0;
        }

        &:hover,
        &:focus {
            border: 1px solid var(--webstudio-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: border-color;
        }

        &:hover svg,
        &:focus svg {
            color: var(--webstudio-color);
            fill: var(--webstudio-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

    }

    &__link {
        display: flex;
        fill: var(--social-media-color);
    }

    &__icon {
        &--1 {
            width: 41px;
            height: 47px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

        &--2 {
            width: 40px;
            height: 52px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

        &--3 {
            width: 43px;
            height: 41px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

        &--4 {
            width: 84px;
            height: 41px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

        &--5 {
            width: 63px;
            height: 45px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

        &--6 {
            width: 94px;
            height: 44px;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }

        svg {
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: color, fill;
        }
    }
}

@media screen and (max-width: 767px) {

    .customers {

        &__item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .customers {

        &__item {
            flex: 0 0 33%;
            max-width: 33%;    

        //     margin-right: 30px;

        //     &:nth-child(3n + 3) {
        //         margin-right: 0;
        //     }
        //     &:nth-child(n + 4) {
        //         margin-bottom: 0;
        //     }
        // }
    }
}
}

@media screen and (min-width: 1200px) {

    .customers {

        &__list {
            flex-wrap: nowrap;
        }

        &__item {
            width: 170px;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
}


// .customers {

//     &__list {
//         display: flex;
// x        flex-wrap: nowrap;
//     }

//     &__item {
//         display: flex;
//         align-items: center;
//         justify-content: center;
// x        width: 170px;
//         height: 92px;
//         border: 1px solid var(--social-media-color);
//         border-radius: 4px;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: border-color;
// x        margin-bottom: 0;

// x        &:not(:last-child) {
//             margin-right: 30px;
//         }

//         &:hover,
//         &:focus {
//             border: 1px solid var(--webstudio-color);
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: border-color;
//         }

//         &:hover svg,
//         &:focus svg {
//             color: var(--webstudio-color);
//             fill: var(--webstudio-color);
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//     }
    
//     &__link {
//         display: flex;
//         fill: var(--social-media-color);
//     }

//     &__icon {
//         &--1 {
//             width: 41px;
//             height: 47px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &--2 {
//             width: 40px;
//             height: 52px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &--3 {
//             width: 43px;
//             height: 41px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &--4 {
//             width: 84px;
//             height: 41px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &--5 {
//             width: 63px;
//             height: 45px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         &--6 {
//             width: 94px;
//             height: 44px;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }

//         svg {
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: color, fill;
//         }
//     }
// }