.team {
    background: #F5F4FA;
    padding-bottom: 60px;

    &__list {
        display: block;
    }

    &__item {
        text-align: center;
    }

    &__description-field {
        background-color: white;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width: 450px;
    }

    &__member-photo {
        width: 450px;
        height: 460px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

        &--imgteam01 {
            @include retina {
            background-image: url("./images/imgteam01@2x.jpg");
            }
        }

        &--imgteam02 {
            @include retina {
            background-image: url("./images/imgteam02@2x.jpg");
            }
        }

        &--imgteam03 {
            @include retina {
            background-image: url("./images/imgteam03@2x.jpg");
            }
        }

        &--imgteam04 {
            @include retina {
            background-image: url("./images/imgteam04@2x.jpg");
            }
        }
    }

    &__member-name {
        padding-top: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__member-job {
        margin-top: 10px;
        margin-bottom: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--contact-color);
    }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
    .team {

        &__item {
            &:not(:last-child) {
                    margin-bottom: 30px;
                }
        }
    }
}

@media screen and (min-width: 768px) {
.team {
        background: #F5F4FA;

        &__list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            text-align: center;
        }

        &__description-field {
            background-color: white;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            width: 354px;
        }

        &__member-photo {
            width: 354px;
            height: 374px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        &__member-name {
            padding-top: 30px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
        }

        &__member-job {
            margin-top: 10px;
            margin-bottom: 16px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--contact-color);
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team {

        &__item {
            &:nth-child(2n+1) {
                    margin-right: 30px;
                }
            &:nth-child(n + 3) {
                    margin-bottom: 0;
                }
        }
    }
}

@media screen and (min-width: 1200px) {
    .team {
        padding-bottom: 94px;

        &__list {
            display: flex;
        }

        &__item {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        &__description-field {
            width: 270px;
        }

        &__member-photo {
            width: 270px;
            height: 260px;
        }
    }
}

// .team {
//     background: #F5F4FA;
//     padding-bottom: 0px;

//     &__list {
//x         display: flex;
//     }

//     &__item {
//         text-align: center;

//         &:not(:last-child) {
//             margin-right: 30px;
//         }
//     }

//     &__description-field {
//         background-color: white;
//         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//         border-radius: 0px 0px 4px 4px;
// x        width:
//     }

//     &__member-photo {
// x        width: 270px;
// x        height: 260px;
//         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     }

//     &__member-name {
//         padding-top: 30px;
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 1.2;
//         text-align: center;
//         letter-spacing: 0.03em;
//     }

//     &__member-job {
//         margin-top: 10px;
//         margin-bottom: 16px;
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 16px;
//         line-height: 1.2;
//         text-align: center;
//         letter-spacing: 0.03em;
//         color: var(--contact-color);
//     }
// }
