@media screen and (max-width: 767px) {

.navigation {
    display: none;
}

.mobile-navigation {

    &__item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__phone {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-top: 302px;
        margin-bottom: 32px;
    }

    &__email {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 64px;
    }
}
}


@media screen and (min-width: 768px) {

.navigation {
        display: flex;

        &__list {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.02em;
        }

        &__item {
            position: relative;

            &:not(:last-child) {
                margin-right: 60px;
            }
        }
    }

    .active-page {

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--webstudio-color);
            border-radius: 2px;
            bottom: -38px;
        }
    }
}


@media screen and (min-width: 1200px) {

    .navigation {

        &__item {
            &:not(:last-child) {
                margin-right: 46px;
            }
        }
    }

    .active-page {

        &::after {
            bottom: -34px;
        }
    }
}

// .navigation {
//     display: flex;

//     &__list {
//         display: flex;
//         align-items: center;
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.1;
//         letter-spacing: 0.02em;
//     }

//     &__item {
//         position: relative;

//         &:not(:last-child) {
//             margin-right: 46px;
//         }
//     }
// }

// .active-page {

//     &::after {
//         position: absolute;
//         content: "";
//         display: block;
//         width: 100%;
//         height: 4px;
//         background-color: var(--webstudio-color);
//         border-radius: 2px;
//         bottom: -32px;
//     }
// }