.header-border {
    border: 1px solid #ECECEC;
    margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
    .header-border {
        margin-bottom: 0;
    }
}




// .header-border {
//     border: 1px solid #ECECEC;
// }