.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-left: 24px;
    padding-bottom: 30px;

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: #FFFFFF;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--social-media-color);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill, background-color;
        margin-right: 10px;

        &:hover,
        &:focus {
            fill: #FFFFFF;
            background-color: var(--webstudio-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: fill, background-color;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }

    &__footer-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        padding-top: 52px;
        margin-bottom: 20px;
    }

    &__footer-list {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    &__footer-item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__footer-link {
        display: flex;
        width: 44px;
        height: 44px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: #fff;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;

        &:hover,
        &:focus {
            background-color: var(--webstudio-color);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: background-color;
        }
    }

    &--in-footer {
        display: inline;
        margin-right: 0px;
        margin-left: 0px;
        padding-bottom: 0px;
    }

    &--footer-header-tablet {
        margin-top: 60px;
    }

    &__mobile-social-media-list {
        display: flex;
    }

    &__mobile-social-media-item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-right: 10px;
    }

    &__mobile-social-media-border {

        &::after {
            content: "";
            width: 22px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-left: 10px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .social-list {

        &__footer-header {
            padding-top: 5px;
        }

        &--in-footer {
            margin-left: 144px;
        }

    }
}

@media screen and (min-width: 1200px) {
    .social-list {

        &__footer-header {
            padding-top: 12px;
        }
    }
}


// .social-list {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-right: 32px;
//     margin-left: 32px;
//     padding-bottom: 30px;
    
//     &__link {
//         display: flex;
//         width: 44px;
//         height: 44px;
//         background-color: #FFFFFF;
//         border-radius: 50%;
//         align-items: center;
//         justify-content: center;
//         fill: var(--social-media-color);
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: fill, background-color;

//         &:hover,
//         &:focus {
//             fill: #FFFFFF;
//             background-color: var(--webstudio-color);
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: fill, background-color;
//         }
//     }

//     &__icon {
//         width: 20px;
//         height: 20px;
//     }

//     &__footer-header {
//         font-family: 'Roboto';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 14px;
//         line-height: 1.1;
//         letter-spacing: 0.03em;
//         text-transform: uppercase;
//         color: #fff;
//         padding-top: 12px;
//         margin-bottom: 20px;
//     }
    
//     &__footer-list {
//         display: flex;
//         justify-content: space-between
//     }
    
//     &__footer-item {
//         &:not(:last-child) {
//             margin-right: 10px;
//         }
    
//         &:last-child {
//             margin-right: 78px;
//         }
//     }
    
//     &__footer-link {
//         display: flex;
//         width: 44px;
//         height: 44px;
//         background-color: rgba(255, 255, 255, 0.1);
//         border-radius: 50%;
//         align-items: center;
//         justify-content: center;
//         fill: #fff;
//         transition-duration: 250ms;
//         transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         transition-property: background-color;
    
//         &:hover,
//         &:focus {
//             background-color: var(--webstudio-color);
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             transition-property: background-color;
//         }
//     }

//     &--in-footer {
//         display: inline;
//         margin-right: 0px;
//         margin-left: 0px;
//         padding-bottom: 0px;
//     }
// }