:root {
    --text-color: #212121;
    --contact-color: #757575;
    --webstudio-color: #2196F3;
    --background-color: #2F303A;
    --social-media-color: #AFB1B8;
    --loremipsum-icon-color: #F5F4FA;
}

@mixin retina {
    @media 
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        @content
    }
}